/*========================== fonts ============================*/
@font-face {
  font-family: 'Smooch Sans';
  src: local('Smooch Sans'), url(../styles/fonts/SmoochSans.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
  'embedded-opentype', and 'svg' */
}


/* -------------------- Animations -------------------- */
@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ========================== main div styling ========================= */
#explorer-home{
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-family: 'Smooch Sans';
    animation: 1s ease-out 0s 1 slideUpFadeIn;
}
/* ========================= title font styling ========================= */
#tit{
    margin: 0;
}
/* ===================== explorer window styling ====================== */
#explorer-window{
    display: flex;
    gap: 100px;
    border-bottom: 1px solid white;
    /* margin-bottom: 10px; */
}

/* ===================== slide aside styling ===================== */
#explorer-window aside{
    /* overflow: auto; */
    display: flex;
    padding: 12px 20px;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    /* flex-shrink: 0; */
    margin: 20px;
    width: 400px;
    height: 800px;
    animation: 1.2s ease-out 0s 1 slideUpFadeIn;
}
#explorer-window aside:hover{
    border-left: 1px solid #9F9FAD;
    border-right: 1px solid #9F9FAD
}
/* ==================== aside title styling ========================= */
.slide-name{ 
    display: flex;
    font-size: 60px;
    text-overflow: ellipsis;
    width: 400px;
    justify-content: center;
}
.slide-name h1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 40px;
    letter-spacing: 8px;
}

/* ======================== room slide ==================== */
#room-slides{
    overflow-y: scroll;
    width: 400px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid#9F9FAD; */
    justify-content: center;

}
#room-slides::-webkit-scrollbar{
    display: none;
}

#button-expand{
    justify-content: center;
    display: flex;
    /* border: 1px solid white; */
    width: 60%;
    height: 10%;
    margin: 10px;
    transition: 1s;
    animation: 1.2s ease-out 0s 1 slideUpFadeIn;
}


#button-expand:hover{
    width: 100%;
    background-color: aqua;
    cursor: pointer;
        letter-spacing: 10px;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-color: aliceblue;
}


