/*========================== fonts ============================*/
@font-face {
  font-family: 'Smooch Sans';
  src: local('Smooch Sans'), url(../styles/fonts/SmoochSans.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.card-box {
    border-left: 1px solid #93D24B;
    border-right: 1px solid #93D24B;
    color: #D30C7B;
    margin: 20px;
    height: 300px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: 'Smooch Sans';
}
.title-pop-box {
    background-color: #D30C7B;
    color: black;
    display: flex;
    align-items: center;
    height: 52px;
    gap: 10px;
}


.card-footer {
    background-color: #D30C7B;
    color: black;
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 30%;
}

h3{
    font-size: 30px;
}