/*========================== fonts ============================*/
@font-face {
  font-family: 'Smooch Sans';
  src: local('Smooch Sans'), url(../styles/fonts/SmoochSans.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}


#nav-bar {
    display: flex;
    padding: 10px 30px 10px 30px;
    /* border: 1px solid white; */
    width: 80%;
    justify-content: space-between;
    align-items: center;
    font-family: "Smooch Sans";
}

#nav-bar:hover {
    border-bottom: 1px solid #D30C7B;
}



.title :any-link{
    -webkit-text-fill-color: white;
    font-family: "Smooch Sans";
    font-size: 80px;
}

#nav-button {
    /* border: 1px solid #D30C7B; */
    width: fit-content;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 10px;
    color: #D30C7B;
}
#nav-button h3{
    font-size:50px;
}

#nav-button :hover{
    background-color: #D30C7B;
    cursor: pointer;
}

