.explore-projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 55px;
    width: 100%;
    height: 1000px;
    border: 1px solid #D30C7B
}

.five-projects-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    margin: 20px;
    gap: 30px;
    border: 1px solid #9F9FAD;
    width: 75%;
    height: 120px;
    justify-content: center;
}



/* ====================== five-row-cards ============================*/
.frc-box {
    border: 1px solid #D30C7B;
    height: 150px;
    width: 20%;
}
.frc-box h3{
    font-size: 30px;
}

.frc-box img{
    width: 100%;
    height: 65%
}

.frc-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 11px;
    gap: 10px;
    height: 20%;
    background-color: #D30C7B;
    text-overflow: ellipsis;
}
/* ================================= showcase ===================== */

.showcase-window{
    border: 1px solid #9F9FAD;
    height: 100%;
    width: 80%;
    color:#D30C7B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.showcase-instant-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 400px;
    max-height: 400px
}

.showcase-instant-info img{
    border: none;
    min-width: 600px;
    max-width: 600px;
}

.showcase-instant-info aside {
    /* border: 1px solid pink; */
    height: 100%;
    width: 30%;
    color:black
}

.showcase-instant-info aside h3{
    background-color: #D30C7B;
    height: 10%;
    text-align: center;
    margin: 0;
}

/* ================================ showcase description =============================== */

.lower-half{
    display: flex;
    height: 35%;
    border-top: 1px solid white;
    padding: 10px;
}
.lower-half h1{
    font-size: 60px;~
    letter-spacing: 1px;
}

#title-description{
    border: 1px solid white;
    padding: 15px;
}