/* === fonts ==== */
@font-face {
  font-family: 'Smooch Sans';
  src: local('Smooch Sans'), url(./fonts/SmoochSans.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
/* === animations === */
@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



#splash{
  display: flex;
  width: 889px;
  height: 632px;
  padding: 0px 140px;
  flex-direction: column;
  align-items: center;
  gap: 55px;
  flex-shrink: 0;
  border: 1px solid #D30C7B;
  font-family: 'Smooch Sans' ;
  color:#D30C7B;
  animation: 2s ease-in-out 0s 1 slideUpFadeIn;
  margin: auto;
}

#splash>div{
  display: flex;
  width: 551px;
  height: 200px;
  padding: 0px 47px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-bottom: 1px solid #D30C7B;
}

h1{
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  /* letter-spacing: 19px; */
  word-spacing: 19px;
}

h2{
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 5px;
  word-spacing: 10px;
}

.sign-up-in{
  display: flex;
  width: 300px;
  height: 40px;
  padding: 17px 190px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  /* border: 1px solid #D30C7B; */
}

.sign-up-in:hover{
  background: #D30C7B;
  color: black;
}
.sign-up-in:active{
  background-color: black;
  color: #D30C7B
}