#rooms-gallery{
    border-bottom: 1px solid white;
    width: 80%;
    display: flex;
    justify-content: space-around;
}


.room-slide-container{
    display: inline-flex;
    padding: 12px 20px;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    flex-shrink: 0;
    overflow: auto;
    margin: 20px
}

.room-slide-container:hover{
    border-left: 1px solid #9F9FAD;
    border-right: 1px solid #9F9FAD
}
