.room-div {
    border: 1px solid white;
    width: 90vh;
    height: 90vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

}

.room-header-bar {
    background-color: #34E4EA;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
}





.room-user-card {
    border: 1px solid #34E4EA;
    margin-bottom: 10px;
    padding: 0px 0px 0px 10px;
    color: #34E4EA;
    text-align: left
}

.room-bottom{
    border-top: 1px solid #34E4EA;
    background-color: black;
    width: 100%;
    height: 20%;
    /* position: absolute; */
    bottom: 0;
}